@import './../../Styles/Scsss/abstracts/variables';

.auth {
    .body {
        display: flex;
        justify-content: center;
        align-items: center;
        .card-register{
            margin-top: 80px;
            .tittle{
                text-align: center;
                color: $mainColor;
                margin: 10px;
            }
            .container-button{
            display: flex;
            justify-content: center;
    
            }
            .buttonPrimary{
            margin-top: 20px;
    
            }
            .go-to-register{
            margin-top: 10px;
            display: flex;
            justify-content: center;
            column-gap: .3rem;
            }
        }
        .card-login{
            margin-top: 160px;
        .tittle{
            text-align: center;
            color: $mainColor;
            margin: 10px;
        }
        .container-button{
        display: flex;
        justify-content: center;

        }
        .buttonPrimary{
        margin-top: 20px;

        }
        .go-to-register{
        margin-top: 10px;
        display: flex;
        justify-content: center;
        column-gap: .3rem;
        }
        }
    }
}