@import './Styles/Scsss/abstracts/variables';

//Laptopt
@media only  screen and (max-width: 1800px) and (min-width: 821px) {
  .header  .hamburgerMenu{
    display: none;
  }


}
//Tablet
@media only  screen and (max-width: 820px) and (min-width: 413px) {
  .header .hamburgerMenu{
    display: none;
  }

  .slogan{
    display: none;
  }

  .buttonTthird{
    height: 40px;
    width: 164px;
  }
}
//Mobile
@media only  screen and (max-width: 412px) and (min-width: 300px) {
  .header .menu{
    display: none;
  }

  .slogan{
    display: none;
  }

  .buttonTthird{
    height: 40px;
    width: 394px;
    background-color: $mainColor;
    color: $backGroundColor;
  }

  .footer ul{
    display: none;
  }

  
}

