@media only  screen and (max-width: 1200px) {
  .App {
    background-color: #90b2f7;
    min-height: 100vh;
    color: white;
  }

  .ResposiveMobile{
    display: none;
  }

  .ResposiveTablet{
    display: none;
  }

  .ResposiveLaptop{
    display: block;
    margin-top: 50px;
  }

  .header{
    background-color: rgb(34, 132, 178);
    position: fixed;
    top: 0; left: 0; right: 0;
    height: 50px;
  }
  .footer{
    background-color: rgb(34, 132, 178);
    position: fixed;
    bottom: 0; left: 0; right: 0;
    height: 50px;
  }
  
}

@media only  screen and (max-width: 1024px) {
  .App {
    background-color: #245cce;
    min-height: 100vh;
    color: white;
  }

  .ResposiveMobile{
    display: none;
  }

  .ResposiveTablet{
    display: none;
  }

  .ResposiveLaptop{
    display: block;
    margin-top: 50px;
  }
  
}

@media only  screen and (max-width: 768px) {
  .App {
    background-color: #3f537b;
    min-height: 100vh;
    color: white;
  }

  .ResposiveMobile{
    display: none;
  }

  .ResposiveTablet{
    display: block;
    margin-top: 50px;
  }

  .ResposiveLaptop{
    display: none;
  }
  
}

@media only  screen and (max-width: 320px) {
  .App {
    background-color: #282c34;
    min-height: 100vh;
    color: white;
  }

  .ResposiveMobile{
    display: block;
    margin-top: 50px;
  }

  .ResposiveLargeScreen{
    display: none;
  }

  .ResposiveTablet{
    display: none;
  }

  .ResposiveLaptop{
    display: none;
  }
  
}
